/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant Upright';
    font-weight: 700;
    width: 100%;
    overflow-x: hidden;
    background: #000;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;

}
a{
    text-decoration: none;
    color: #fff;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

li{
    list-style: none;
}
/*preloader*/

#preloader{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
}
.preloader-logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.loadertop{
    animation-name: animateOne;
    animation-delay: -0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.loaderbottom{
    animation-name: animateTwo;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.loaderbottomgrey{
    animation-name: animateThree;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animateOne{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateTwo{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateThree{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #918E85;
    }
}
/* NAVBAR STYLING */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 105px;
    padding-right: 105px;
    background-color: transparent;
    color: #fff;
    width: 100%;
    z-index: 200;
    position: relative;
    top:0;
    transition: 0.5s ease-in-out;

}
.cnt{
    border: 1.5px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 23px 10px 23px;
}
.menu a{
    color: #fff;
}
.logo img{
    max-width: 100px;
    max-height: 34.5px;
}
.menu ul{
    display: flex;
    gap: 1em;
    font-size: 1.5vw 18px;
}
.menu li{
    padding: 5px 14px;
}
.circle-one{
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.circle-one:hover{
    transition: 0.3s ease-in-out;
}
  
/* HEro */
.hero{
    
    background: rgb(5, 5, 5);
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 10%; */

}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    
}
.column{
    flex: 50%;
     
}
.column_left{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.box{
    position: relative;
    width: 390px;
    height: 390px;
    background-color: rgba(217, 217, 217, 0.18);
    border-radius: 50%;
    overflow: hidden;
    box-shadow:  0 0 25px 0 rgba(217, 217, 217, 0.18);

}
@keyframes animate{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after{
    content:'';
    position: absolute;
    /* inset: 6px; */
    background-color: rgba(253, 247, 247, 1);
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset: 30px;
    border: 6px solid rgba(253, 247, 247, 1);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
    object-position: center;
}

.box:hover .content img{
    opacity: 0;
}

.content h2{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

}
.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;

}
.content a:hover{
    letter-spacing: 0.2em;
}
.column_right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    
}
.column_right .intro h1{
    margin-top: 15px;
}
.column_right .intro h2{
    letter-spacing: 2px;
    font-size: x-large;
}
.column_right .intro p{
    inline-size: 70%;
    margin-top: 15px;
    font-size: 1.12em;
}
/* .column_right .intro .btns{
    margin-top: 10px;
    margin-bottom: -50px;
} */
.btns{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
}

.column_right .intro .btns button{
    display: flex;
    padding: 15px 50px;
    background: transparent;
    border: 3px solid #1BB6E7;
    color: #fff;
    font-size: 20px;
    margin: 10px 5px;
    margin-top: 30px;
    border-radius: 30px;
    transition: 0.5s  ease-in-out;
}
.column_right .intro .btns button a{
  text-decoration: none;
  color: #fff;

}
.column_right .intro .btns button:hover{
    background-color: #1BB6E7;
    color: #fff;
}
#ctn:hover{
    background-color: #1BB6E7;
    color: #fff;
}
#ctn{
    padding: 15px 50px;
    background: transparent;
    border: 1.5px solid #1BB6E7;
    color: #1BB6E7;
    letter-spacing: 2%;
    font-size: 20px;
    margin: 10px 5px;
    margin-top: 32px;
    border-radius: 30px;
}
.mouse_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: calc(100vh - 85vh);
    color: #fff;
    justify-content: center;
    align-items: flex-end;
    justify-items: center;
    position: relative;
    overflow: hidden;

    z-index: 100;
}
.mouse_scroll {
    display: inline-block;
    transform: scale(0.85);
    margin-bottom: 10px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}

.unu
{
    margin-top: 1px;
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* aboutme */
/* .about{
  display: none;
} */
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000;
    /* background-image: #000; */
    width: 100vw;
    height: 100vh;
    color: #fff;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
}
.box2{
    position: relative;
    width: 390px;
    height: 492px;
    background-color: rgba(217, 217, 217, 0.18);
    box-shadow:  0 0 15px 0 rgba(217, 217, 217, 0.18);
    padding: 0 30px 30px 15px;

}
.content2{
    inset: 30px;
    z-index: 3;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content2 img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
    object-position: center;
}
.box2:before{
    display: flex;
    content:'';
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 30px;
    left: 45px;
    border: 10px solid #fff;

}
.abt{
    width: 100%;
}
.progress {
    /* background: rgba(255,255,255,0.1); */
    background-image: linear-gradient(145deg,rgba(0,0,0,0.958420868347339) 36%, rgba(27,182,231,0.4234068627450981) 90%);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 30px;
    width: 85%;
  }

.progress-value {
    animation: animate-positive 3s normal forwards;
    box-shadow: 0 10px 40px -10px rgba(82, 151, 255, 1);
    border-radius: 100px;
    background: rgba(82, 151, 255, 1);
    height: 20px;
    width: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


  }
#inc{
    position: absolute;
    display: inline-block;
    color: #000;
    text-align: center;
    width: 100%;
}
.pri_underline{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;

}
.pri_underline::after{
    content: '';
    height: 4px;
    border-radius: 100px;
    width:100px;
    position: relative;
    right:105px;
    bottom: -12px;
    background: linear-gradient(
        to right,
        rgba(82, 151, 255, 1) 30%,
        rgba(56, 86, 130, 0.5) 30% 100%
      );

}
#skill {
  
    display:block;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform:uppercase;
    color: #888888;
	line-height: 17px;
	margin-bottom:5px;
    margin-top: 5px;
}
@keyframes animate-positive {
    0% { width: 0%; }
}
#services{
    position: relative;
    color: black;
    background: #000;
    padding-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.row3{
    width: 80%;
    position: relative;
}
.row3 h2{
    text-align: center;
    font-size: 35px;
    color: #fff;
}
.row3 .under{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #fff;
    width: 30%;
    height: 20px;
}
.row3 .services{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row3 .services .card{
    width: 330px;
    height: 280px;
    background: #fff;
    padding: 20px 15px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 3px 4px 3px 0px rgba(82, 151, 255, 0.5);
}
.row3 .services .card:hover{
    background: #fff;
}
.row3 .services .card .content3{
    transition: 0.3s;
    position: relative;
}
.row3 .services .card:hover .content3{
    transform: scale(1.07);
}

.row3 .services .card .content3 .icon{
    padding: 5px 0;
    color: white;
}

.row3 .services .card .content3 .icon img{
    font-size: 40px;
}

.row3 .services .card:hover .content3 .title{
    color: rgba(82, 151, 255, 1);
}

.row3 .services .card .content3 .title{
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: rgba(82, 151, 255, 1);
    transition: 0.3s;
}

.seccounter{
    position: relative;
    color: black;
    background: #000;
    padding-top: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.row4{
    width: 80%;
    position: relative;
}
.row4 .count{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row4 .count .card{
    width: 200px;
    height: 180px;
    background-image: linear-gradient(145deg,rgba(0,0,0,0.958420868347339) 46%, rgba(27,182,231,0.4234068627450981) 90%);
    padding: 20px 15px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 3px 4px 3px 0px rgba(255, 255, 255, 0.5);
}
.row4 .count .card .content4{
    transition: 0.3s;
    position: relative;
}
.row4 .count .card:hover .content4{
    transform: scale(1.07);
}

.row4 .count .card .content4 .icon{
    padding: 5px 0;
    color: white;
}

.row4 .count .card .content4 .icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.row4 .count .card .content4 .title{
    padding: 5px 0;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    text-align: center;
}
.row4 .count .card .content4 p{
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
    text-align: center;
}
.row5{
    position: relative;
    background-color: #000;
    padding-top: 7%;
}


.works .row5 .main-carousel .cell{
    display: inline-block;
    width: calc(100%/2.439);
    max-height:400px;
    
    margin: 0 30px;
    background: #8C8;
    background-image: linear-gradient(145deg,rgba(0, 0, 0, 0.958) 46%, rgba(27,182,231,0.4234068627450981) 90%);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 40px;
}
.works .row5 .main-carousel .cell img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    object-position: center;

}
.works .row5 .header{
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 45px;
  letter-spacing: 0.02em;
}
.works .row5 .header a{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  color: #1BB6E7;
  transition: 0.5s ease-in-out;
  margin-top: 2.5rem;
}
.works .row5 .header a:hover{
  color: #fff;
  letter-spacing: 0.03em;

  
}
.works .row5 .header .pri_underline::after{
  width: 82px;
  right: 8%;
}


.flickity-button {
  background: #D9D9D9;
}

.flickity-prev-next-button {
  width: 35px;
  height: 30px;
  border-radius: 5px;
}
.flickity-button-icon {
  fill: #1BB6E7;
}
.flickity-prev-next-button{
  position: relative;
  display: inline-flex;
  margin-top: 20px;
  margin-right: 3px;
}



.flickity-prev-next-button.previous {
  left: 50%;
  transform: translateX(-50%);
  margin-right: 5px;
}
.flickity-prev-next-button.next {
  right: -50%;
  transform: translateX(-50%);
  margin-left: 5px;
}
.flickity-page-dots {
  display: none;
}

.works .row5 .textblock{
    display: flex;
    background: #1BB6E7;
    padding-bottom: 68px;
    width: 88%;
    text-align: start;
    justify-content: start;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 52vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: -50vh;
    border-radius: 75px;
}
.works .row5 .textblock .title{
    text-align: start;
    line-height: 45px;
    font-size: 48px;
    justify-content: center;
    flex: 40%;
    padding-top: 10px;
    font-weight: 700;
    padding-left: 6px;
    letter-spacing: 0.02em;
    width: auto;

}
.works .row5 .textblock .justi{
    flex: 60%;

}
.works .row5 .textblock .justi p{
    inline-size: 85%;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.works .row5 .textblock .title .inner-headings{
    position: absolute;
    height: 50px;
    display: inline-flex;
    overflow: hidden;
    line-height: 58px;
  }
  
.works .row5 .textblock .title .inner-headings span {
    position: relative;
    color: whitesmoke;
    animation: animation3 10s ease infinite;
    text-transform: lowercase;
  }
  .works .row5 .textblock .title .inner-headings span br{
    color: white ;
    background: white;
    height:2px;
  }
  @keyframes animation3 {
    0%, 12.66%, 100% {top: -9px;}
    16.66%, 29.32% {top: -66px;}
    33.32%,45.98% {top: -123.5px;}
    49.98%,62.64% {top: -182px;}
    66.64%,79.3% {top: -123.5px;}
    83.3%,95.96% {top: -66px;}
  }
  .row6{
    position: relative;
    background-color: #000;
    padding-top: 14%;
    /* padding-bottom: 7%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
  .contact_container{
    width: 90%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    background-color: #1BB6E7;
  }
  .contact_container .contact_details{
    flex: 50%;
    line-height: initial;
    letter-spacing: 0.02em;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
  }
  .contact_container .contact_details .smbox_header{
    align-self: center;
    inline-size: 85%;
    flex-wrap: wrap;
  }
  .contact_container .contact_details .smbox_header h2{
    font-weight: 700;
    font-size: 35px;
  }
  .contact_container .contact_details .smbox_header h2,p{
    margin-bottom: 10px;
  }
  .contact_container .contact_details .smbox{
    margin: 22px 0;
    background: rgb(0 0 0 / 20%);
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-self: center;
    align-items: center;
    justify-content: start;
  }
  .contact_container .contact_details .smbox .smmbox{
    display: flex;
    line-height: initial;
    flex-direction: column;
    margin-left: 3%;
  }
.contact_container .contact_details .smbox .smmbox span{
  line-height: 1px;
  font-size: 15px;
}

  .contact_container .contact_details .smbox .smmbox a{
    color: #fff;
    line-height: 1.4px;
    font-weight: 700;
    margin-top: 18px;
      
    }
.contact_container .contact_details .socials{
  display: inline-flex;
  justify-content: space-between;
 } 
.contact_container .contact_details .socials a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  width: 25%;
  margin: 10px 10px;
  height: 50px;
  overflow: hidden;
  border: 1px solid black;
  color: #000;
  border-radius: 15px;
  transition:background-color 0.5s cubic-bezier(0.4,0,0,1) 0.5ms;
}
.contact_container .contact_details .socials a span:first-child{
  display: flex;
  width: 20px;
  height: 20px;
  transition: 0.5s ease-in-out;
}
.contact_container .contact_details .socials a span:last-child{
  position: absolute;
  text-align: center;
  transform:translateY(200%);
  font-size: 17px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.contact_container .contact_details .socials a:hover{
  background-color: #1BB6E7;
}
.contact_container .contact_details .socials a:hover span:last-child {
  transform: translateY(0%);
  
}
.contact_container .contact_details .socials a:hover span:first-child {
  transform: translateY(-200%);
}
  form{
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 50px 40px 40px 40px;
    border: 1px solid #000000;
    border-radius: 56px;
    flex: 50%;
    margin-top: -120px;
  
  }
  form .form_header{
    color: #000;
    text-align: left;
    margin-bottom: 10px;
    line-height: 45px;
    letter-spacing: 0.02em;
  }
  form .form_header h1{
    font-weight: 700;
    font-size: 35px;
  }
  form .form_header h3{
    font-weight: 700;
    font-size: 1.12em;
  }

  form .input-group{
    margin-bottom: 30px;
    display: flex;
    /* box-shadow: 0px 2px 0px 0px #D9D9D9; */
    border-bottom: 2px solid #D9D9D9;

    position: relative;
    padding: 10px;

    
  }
  form .input-group input,textarea{
    width: 100%;
    outline: 0;
    color: #000;
    background: transparent;
    font-size: 15px;
    border: none;
    outline: none;
    resize: none;
    cursor: text;
    padding: 0px 10px 5px 10px;
    

  }
  form .input-group input::placeholder,textarea::placeholder{
    color: #D9D9D9;

  }
  form .input-group img{
    width: 18px;
    height: 18px;
  }
  form button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    border: none;
    background-color: #1BB6E7;
    border-radius: 15px;
    cursor: pointer;
    width: 24%;
    height: 50px;
    display: block;
    margin-left: auto;
  }
  .subrow{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .subrow .input-group{
    flex-basis: 48%;
  }
  form .input-group input:focus~label{
    display: none;
  }
  .row7{
    position: relative;
    background-color: #000;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
  }
  .row7 .footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5%;
    font-size: calc(16px + 4 * ((100vw - 320px) / 1320));
    font-weight: 600;
}
.row7 .footer_container .design_dev{
  margin: 0;
}
.row7 .footer_container .copy{
  flex:33.3%
}
.row7 .footer_container .des_dev{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 50%;
}
.row7 .footer_container .design_dev span{
  font-size: 25px;
}
  .footer_container span img{
    max-width: 130px;
    max-height: 50.5px;
  }
  /* animation snippet */
  /* @keyframes animation {
    0% {
      top: -9px;
    }
    28% {
      top: -9px;
    }
    33% {
      top: -69px;
    }
    61% {
      top: -69px;
    }
    66% {
      top: -124px;
    }

    94% {
        top: -124px;
      }
    99% {
      top: -69px;
    }
    100%{
        top: -9px;
    }
  }
  @keyframes animation2 {
   0% {
      top: -9px;
    }
    11.66% {
      top: -9px;
    }
    16.66% {
      top: -9px;
    }
    28.32% {
      top: -69px;
    }
    33.32% {
      top: -69px;
    }
    
    44.98% {
        top: -69px;
      }
    49.98% {
      top: -124px;
    }

    66.64%{
      top: -124px;
    }
    79.3%{
      top: -124px;
    }
    83.3%{
      top: -69px;
    }
    95.96%{
      top: -69px;
    }
    99.96%{
      top: -9px;
    }
    100%{
        top: -9px;
    }
  } */
/* .row5{
    display: flex;
    max-width: 1200px;
    position: relative;
}
.row5 i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }


.row5 i:active{
    transform: translateY(-50%) scale(0.9);
  }
.row5 i:hover{
    background: #f2f2f2;
  }
.row5 i:first-child{
    left: -22px;
    display: none;
  }
.row5 i:last-child{
    right: -22px;
  }
.row5 .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
.row5 .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
.row5 .carousel.dragging img{
    pointer-events: none;
  }
.row5 .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
.row5 .carousel img:first-child{
    margin-left: 0px;
  } */

/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#featureContainer .carousel-inner .carousel-item.active,
		#featureContainer .carousel-inner .carousel-item-next,
		#featureContainer .carousel-inner .carousel-item-prev {
			display: flex;
		}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}
#featureContainer .card{
    border: 0;
}
#featureContainer .card{
    position: relative;
}
#featureContainer .card .card-img-overlays{
    position: absolute;
    bottom: 15%;
    left: 10%;
}
#featureContainer a{
    text-decoration: none;
}
#featureContainer .indicator{
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}
#featureContainer .indicator:hover{
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}
#featureContainer .indicator {
    color: lightgray;
}
#featureContainer .float-end{
    padding-top: 10px;
}

/* #featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start { 
transform: translateX(0);
}
#featureContainer .card{
    border: 0;
}
#featureContainer .card{
    position: relative;
}
#featureContainer .card .card-img-overlays{
    position: absolute;
    bottom: 15%;
    left: 10%;
}
#featureContainer a{
    text-decoration: none;
}
#featureContainer .indicator{
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}
#featureContainer .indicator:hover{
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}
#featureContainer .indicator:hover{
    color: white;
    transition: 200ms;
}
#featureContainer .indicator {
    color: lightgray;
}
#featureContainer .float-end{
    padding-top: 10px;
} */ 