/* UTILITIES */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant Upright';
    font-weight: 700;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*preloader*/

#preloader{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
}
.preloader-logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.loadertop{
    animation-name: animateOne;
    animation-delay: -0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.loaderbottom{
    animation-name: animateTwo;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.loaderbottomgrey{
    animation-name: animateThree;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animateOne{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateTwo{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateThree{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #918E85;
    }
}
/* NAVBAR STYLING */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 105px;
    padding-right: 105px;
    background-color: #000000;
    color: #fff;
    width: 100%;


}
.menu a{
    color: #fff;
}
.logo img{
    max-width: 100px;
    max-height: 34.5px;
}
.menu ul{
    display: flex;
    gap: 1em;
    font-size: 1.5vw 18px;
}
/* .menu li:hover{
    background-color:#918E85;
    border-radius: 5px;
    transition: 0.3s ease;
} */
.menu li{
    padding: 5px 14px;
}
.bars {
    /*   background-color:pink; */
    position: absolute;
    width: 27px;
    height: 27px;
    right: 25px;
    cursor: pointer;
    z-index: 101;
    padding-top:9px;
  }
  
.bar {
width: 100%;
height: 4px;
background-color: #fff;
position: absolute;
}

span::before,
span::after {
content: "";
display: block;
background-color: #fff;
width: 100%;
height: 4px;
position: absolute;
}

.bar::before {
transform: translateY(-9px);
}

.bar::after {
transform: translateY(9px);
}

.bars.active .bar {
background-color: transparent;
}

.bars.active span::before {w
animation: top-bar 1s;
animation-fill-mode: forwards;
}

.bars.active span::after {
animation: bottom-bar 1s;
animation-fill-mode: forwards;
}
@keyframes top-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(45deg) translateY(0);
    }
  }
  
  @keyframes bottom-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateY(0);
    }
  }
  

