/*preloader*/

#preloader{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
}
.preloader-logo{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.loadertop{
    animation-name: animateOne;
    animation-delay: -0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.loaderbottom{
    animation-name: animateTwo;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.loaderbottomgrey{
    animation-name: animateThree;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animateOne{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateTwo{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #2B2A29;
    }
}
@keyframes animateThree{
    0%{
        opacity: 0;
        fill: #fff;
    }

    100%{
        opacity: 1;
        fill: #918E85;
    }
}


