/* navbar */
.bars {
    position: absolute;
    width: 27px;
    height: 27px;
    right: 25px;
    cursor: pointer;
    z-index: 101;
    padding-top:9px;
    border: none;
    margin-right: 15px;
    margin-left: auto;
    display:none;

  }
  
.bar {
    display:flex;
    align-items:center;
    justify-content:center;
width: 100%;
height: 4px;
background-color: #fff;
position: absolute;
}

.span::before,
.span::after {
content: "";
display: block;
background-color: #fff;
width: 100%;
height: 4px;
position: absolute;
}

.bar::before {
transform: translateY(-9px);
}

.bar::after {
transform: translateY(9px);
}
.bars.active{
    padding-top: 0;
    margin-right: 3px;
}

.bars.active .bar {
background-color: transparent;
}

.bars.active .span::before {
    animation: top-bar 1s;
    animation-fill-mode: forwards;
}

.bars.active .span::after {
animation: bottom-bar 1s;
animation-fill-mode: forwards;
}
@keyframes top-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(45deg) translateY(0);
    }
  }
  
  @keyframes bottom-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateY(0);
    }
  }
@media(max-width: 992px){
    #navbar{
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        background-color: black;
        overflow-x: clip;
    }
    .btns{
        justify-content: center;
        align-items: center;
    }
    .hero{
        height: 100%;
    }
    .row{
        text-align: left;
    }
    .row2{
        height: 100%;
        flex-direction: column;
        align-items: stretch;
        padding-top: 10%;
    }
    .abt{
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 10px 0px 10px;
    }
    .abt_header{
        text-align: start;
        margin-top: 10px;
        font-size: 35px;
    }
    .pri_underline{
        margin-left: 100px;
        margin-top: 20px;
    }
    #skill{
        text-align: left;
        
    }
    .progress{
        width: 100%;
    }
    .bars{
        display: block;
        right: 0;
    }
    .visible{
        z-index: 100 !important;
        opacity: 1 !important;
    }
    .shape-circle{
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        top: -18vw;
        right: -18vw;
        position: absolute;
        transition: all 1s ease-in-out;
        text-align: bottom;
    }
    .works .row5 .main-carousel .cell{
        width: 90%;
    }
    .menu.visible li{
        text-align: center;
        background: #2979ff;
    }

    .menu.visible li:last-child{
        width: 255vw;
        height: 255vw;
        top: -125vw;
        right: -125vw;
        z-index: 5;
        transition: all .5s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(4){
        width: 205vw;
        height: 205vw;
        top: -100vw;
        right: -100vw;
        z-index: 6;
        transition: all .6s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(3){
        width: 155vw;
        height: 155vw;
        top: -75vw;
        right: -75vw;
        z-index: 7;
        transition: all .7s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(2){
        width: 105vw;
        height: 105vw;
        top: -50vw;
        right: -50vw;
        z-index: 8;
        transition: all .8s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:first-child{
        width: 55vw;
        height: 55vw;
        top: -25vw;
        right: -25vw;
        z-index: 9;
        transition: all .8s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:last-child a {
        line-height: 405vw !important;
        display: block;
        text-indent: -68% !important;
    
    }
    
    .menu.visible li:nth-child(4) a {
        line-height: 325vw !important;
        display: block;
        text-indent: -67% !important;
    }
    
    .menu.visible li:nth-child(3) a {
        line-height: 240vw !important;
        display: block;
        text-indent: -67% !important;
    
    }
    
    .menu.visible li:nth-child(2) a {
        line-height: 160vw !important;
        display: block;
        text-indent: -55% !important;
        
    
    .menu.visible li:first-child a {
        line-height: 85vw !important;
        display: block;
        text-indent: -50% !important;
    }
    .works .row5 .main-carousel .cell{
        width: 90%;
    }
}
@media (min-width: 992px) {
    .shape-circle:hover a{
        border-bottom: 2px solid #1BB6E7;
    }
    .circle-one:hover a{
        border-color: #1BB6E7;
    }

    
}
/* @media screen and (max-width: 600px) {
    
} */
@media screen and (max-width: 650px) {
    .mouse_container{
        display: none;
    }
    .box{
        width: 340px;
        height: 340px;
    }
    .box2{
        width: 275.85px;
        height: 348px;
    }
    .box2:before{
        left: 35px;
    }
    .btns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column_right .intro .btns button{
        margin-top: initial;
    }
    #ctn{
        margin-top: initial;
    }
    .column_right .intro .btns button{
        display: flex;
        padding: 15px 50px;
        background: transparent;
        border: 3px solid #1BB6E7;
        color: #fff;
        font-size: 20px;
        margin: 10px 5px;
        border-radius: 30px;
        transition: 0.5s  ease-in-out;
        text-align: center;
    }
    .column_right .intro h1{
        text-align: left;
        padding-left: calc(100%/3);
    }
    .column_right .intro h2,p{
        text-align: center;
    }
    .column_right .intro p{
        inline-size: 100%;
    }
}
@media screen and (max-width: 550px) {
    .column_right .intro h1{
        text-align: left;
        padding-left: calc(100%/5);
    }
    
  }
/* @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  
@media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  } */
/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */
