/* navbar */
.bars{
    display: none;
}

@media(max-width: 768px){
    #navbar{
        padding-left: 25px;
        padding-right: 25px;
    }
    .bars{
        display: block;
        right: 0;
    }
    .visible{
        z-index: 100 !important;
        opacity: 1 !important;
    }
    .shape-circle{
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        top: -8vw;
        right: -8vw;
        position: absolute;
        transition: all 1s ease-in-out;
        text-align: bottom;
    }
    .menu.visible li{
        text-align: center;
        background: #2979ff;
    }

    .menu.visible li:last-child{
        width: 255vw;
        height: 255vw;
        top: -125vw;
        right: -125vw;
        z-index: 5;
        transition: all .5s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(4){
        width: 205vw;
        height: 205vw;
        top: -100vw;
        right: -100vw;
        z-index: 6;
        transition: all .6s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(3){
        width: 155vw;
        height: 155vw;
        top: -75vw;
        right: -75vw;
        z-index: 7;
        transition: all .7s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:nth-child(2){
        width: 105vw;
        height: 105vw;
        top: -50vw;
        right: -50vw;
        z-index: 8;
        transition: all .8s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:first-child{
        width: 55vw;
        height: 55vw;
        top: -25vw;
        right: -25vw;
        z-index: 9;
        transition: all .8s ease-in-out;
        box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
    }
    .menu.visible li:last-child a {
        line-height: 405vw !important;
        display: block;
        text-indent: -68% !important;
    
    }
    
    .menu.visible li:nth-child(4) a {
        line-height: 325vw !important;
        display: block;
        text-indent: -67% !important;
    }
    
    .menu.visible li:nth-child(3) a {
        line-height: 240vw !important;
        display: block;
        text-indent: -67% !important;
    
    }
    
    .menu.visible li:nth-child(2) a {
        line-height: 160vw !important;
        display: block;
        text-indent: -55% !important;
    }    
    
    .menu.visible li:first-child a {
        line-height: 85vw !important;
        display: block;
        text-indent: -50% !important;
    }
    .hero{
        padding-top: 50px;
    }

}

